name: CI

on:
 push:
  branches: [ "main" ]
 pull_request:

permissions:
 contents: read
 packages: write

jobs:
 lint:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout repository
     uses: actions/checkout@v4
   - name: Validate Docker Compose file
     run: docker compose config

 build:
  runs-on: ubuntu-latest
  needs: lint
  environment: development

  steps:
   - name: Checkout repository
     uses: actions/checkout@v4

   - name: Log in to Github Container Registry
     uses: docker/login-action@v3
     with:
      registry: ghcr.io
      username: ${{ github.actor }}
      password: ${{ secrets.GITHUB_TOKEN }}

   - name: Build Docker image (dev)
     env:
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
     run: |
      echo "Secret injected successfully"
      IMAGE_NAME=ghcr.io/${{ github.repository }}
      docker build -t $IMAGE_NAME:dev .
      docker push $IMAGE_NAME:dev

 build-prod:
  runs-on: ubuntu-latest
  needs: lint
  environment: production

  steps:
   - name: Checkout repository
     uses: actions/checkout@v4
   - name: Build Docker image (prod)
     env:
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
     run: |
      echo "Building image for production"
      docker build -t devops-week4-app:prod .
